label{font-size: 30px;color: azure;}
input{font-size: 25px;background-color:black;color: whitesmoke; border-radius: 30px;margin: 10px;padding-top: 5px;margin: 15px;}
body{background-image: url(wall3.jpg); background-size: 1600px; background-position: center;}
h1{color: beige;font-size: 40px;}
h2{color: turquoise;font-size: 20px; }
a{color: red;}
h3{font-size: 30px;color: turquoise;}
h4{color:white;;font-size: 32px;font-weight: bold;}